<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <script type="text/javascript">
        (function(c,l,a,r,i,t,y){
            c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
            t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
            y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
        })(window, document, "clarity", "script", "it2t408v2q");
    </script>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="/static/dist/output.css" />
    <link rel="icon" href="{{ url_for('static', filename='images/250logo.png') }}" type="image/x-icon">
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<nav class="nav-primary py-1"> <img src="{{ url_for('static', filename='images/250logo.png') }}" height="2rem" alt="MJB Logo" style="height: 2rem;"> 
    <button class="btn-primary rounded-lg hover:bg-maroon duration-500"><a href="/" class="">Home</a></button>
    <button class="btn-primary rounded-lg hover:bg-maroon duration-500"><a href="/resume" class="">Work History</a></button>
    <button class="btn-primary rounded-lg hover:bg-maroon duration-500"><a href="/projects" class="">Projects</a></button>
</nav>
<body>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <div class="flex justify-center text-teak" id="footer">
        {% block footer %}
        <a href="http://github.com/mattbusscher">&copy; Copyright 2023 - Matthew Busscher</a>.
        {% endblock %}
    </div>
</body>
</html>