{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}


<body>
    <div class="banner-container p-4 m-4">
        <div class="bg-grey rounded-lg p-4 max-w-6xl shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]" >
            <h1 class="text-bold text-5xl text-maroon">Matthew Busscher</h1>
            <p class="text-green">A highly driven software developer, specializing in Javascript, Python, PHP, Nodejs, etc</p>
        </div>
    </div>
    <div class="flex justify-center m-4">
        <div class="bg-grey rounded-lg p-4 max-w-6xl shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]" >
            <div class="grid grid-cols-3 justify-center">
        
            <img src="{{ url_for('static', filename='images/mjbportrait.png') }}" alt="Portrait Picture" class="rounded-lg mb-2 ">
            <div class="col-span-2">
                <h1 class="text-bold text-3xl mx-2 text-maroon hover:underline">About Myself</h1>
                <div>
                    <p class="text-green mx-10"><br>
                        I'm Matt Busscher, a passionate web developer and entrepreneur with a keen eye for transforming ideas into tangible digital solutions. My mission is to create innovative and functional websites that cater to the unique needs of businesses and individuals.
                        <br><br>
                        What sets me apart in this industry is my relentless dedication to each project. I take a personalized approach, ensuring that every website I create is visually appealing, user-friendly, and optimized for top-notch performance.
                        <br><br>
                        My work not only enhances my clients' online presence but also contributes significantly to their business growth and success. I firmly believe in the vast potential of the digital landscape, and my web development solutions empower clients to harness this potential effectively.
                        <br><br>
                        In my approach, I'm known for being creative, reliable, and customer-centric. I maintain a professional yet approachable tone in my interactions, fostering open communication and a deep understanding of my clients' requirements, which leads to outstanding results.
                        <br><br>
                        When it comes to marketing, I utilize a mix of digital channels, including social media, content marketing, and search engine optimization. These strategies have proven successful in reaching my target audience and driving increased traffic to my projects, generating high-quality leads along the way.
                        <br><br>
                        Of course, I face challenges in this dynamic web development industry, but my determination and commitment allow me to continuously evolve and stay ahead of the curve. This ensures that I consistently deliver exceptional web development solutions that leave a lasting impact on my clients.
                    </p>
                </div>
            </div>
            </div>
            

        </div>
    </div>
    <div class="flex justify-center m-4">

        <div class="flex flex-col rounded-lg bg-grey shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] md:max-w-xl md:flex-row">
            <img
                class="h-96 w-full rounded-t-lg object-cover md:h-auto md:w-48 md:rounded-none md:rounded-l-lg"
                src="{{ url_for('static', filename='images/CardPic1.png') }}"
                alt="" />
            <div class="flex flex-col justify-start p-8">
                <h5
                class="mb-6 text-xl font-medium text-maroon hover:underline">
                <a href="/resume">Experience</a>
                </h5>
                <p class="text-base text-green">
                With over 3 years in the industry, I have worked on many projects and have a wide range of experience. I have worked on projects ranging from small websites to large scale applications. Using my experience in web development, I have helped many clients achieve their online goals.
                </p>
                
            </div>
        </div>

        <div class="flex flex-col rounded-lg bg-grey shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] md:max-w-xl md:flex-row">
            <img
                class="h-96 w-full rounded-t-lg object-cover md:h-auto md:w-48 md:rounded-none md:rounded-l-lg"
                src="{{ url_for('static', filename='images/CardPic2.png') }}"
                alt="" />
            <div class="flex flex-col justify-start p-8">
                <h5
                class="mb-6 text-xl font-medium text-maroon hover:underline">
                <a href="/projects">Projects</a>
                </h5>
                <p class="text-base text-green">
                I have worked on many projects, from small personal projects that are of interest to me, as well as large scale projects for clients. I am passionate about all the work I produce, and I am always looking for new projects to get involved with.
                </p>
            </div>
        </div>
    </div>

  <div class="flex justify-center m-4">
    <div class="bg-grey rounded-lg p-4 max-w-6xl shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]">
      <div class="grid grid-cols-2 justify-center">
        <div class="col-span-2">
          <h1 class="text-bold text-3xl mx-2 mb-4 text-maroon hover:underline">An Interesting Life Story</h1>
          <div class="clear-left float-left pr-4">
            <img src="{{ url_for('static', filename='images/youngmatt.jpeg') }}" alt="My Scuba certification at age 8" class="rounded-lg max-w-xs mb-2" style="aspect-ratio: 1 / 1;">
            
          </div>
          <p class="text-green mx-10 mb-3">
            I was born and raised in Fennville, Michigan. My life took a thrilling turn in 1997 when my family and I decided to embark on an unforgettable adventure by moving onto a catameran boat. It was an incredible journey as my father went all the way to France to bring back the Lagoon 410. Once state-side, he met us in West Palm Beach, where my mother, brother, and I eagerly awaited. 
            <br><br>
            The allure of the sea captured my soul, and we sailed through the picturesque Caribbean, exploring the beautiful British Virgin Islands, going as far as the shores of Trinidad and Tobago.
            <br><br>
            Nearly four years later returning to West Palm Beach, it was time to plant some roots. I was enrolled in the local sporting teams, but I felt like I was missing something.
            I enthusiastically participated in baseball, basketball, and lacrosse. Alongside my sporting endeavors, I engaged in various academic groups and clubs like the Future Business Leaders of America and the Academy of Finance. During my senior year, I found that I was missing the water so the summer before college I taught at a surf camp, those days were filled with exhilarating experiences of surfing and skimboarding.
            <br><br>
            I then began at Florida Gulf Coast University, and my love for music opened up new opportunities. I found myself DJing at the local club, and to my surprise, I excelled at it. What started as a humble beginning soon led me to headline several nights a week and become a sought-after DJ in the city.
            <br><br>
            Following my passion for Marketing, I had the privilege of interning with local marketing companies, which opened my eyes to the evolving synergy between Marketing and IT. This revelation prompted me to pivot my talents towards this exciting intersection.
            <br><br>
            A chance encounter during a lunch with a fellow marketing peer changed the course of my life once again. I was offered a job with Aspen Skiing Company in Colorado. The thrill of this opportunity compelled me to pack my bags and head west to begin a new chapter.
            <br><br>
            Life had more surprises in store for me. Amidst the snow-capped mountains, I met a local DJ who needed assistance. We struck up a friendship, and soon I found myself contracting with his wedding DJ company. Beyond just events, I contributed to enhancing the business's technology, setting up a convenient calling calendar on their website for prospective clients.
            <br><br>
            Then, just as life seemed to be settling into a rhythm, the unforeseen arrival of Covid-19 changed everything. Mountains were silent, local businesses shut down, leaving me with ample time to explore personal growth and long-awaited side projects. Delving even further into python and JavaScript, my skills rapidly advanced, and with a heavy heart, I bid farewell to Colorado and made my way back to Florida.
            <br><br>
            In the face of uncertainties, I stood strong, ready to embrace new opportunities, armed with a wealth of experiences and skills. My journey so far has taught me resilience, adaptability, and an unwavering determination to follow my passions wherever they may lead.
            <br>
          </p>
          <div class="clear-left"></div> <!-- Clear the float after the floated element -->
        </div>
      </div>
    </div>
  </div>

</body>
    
{% endblock %}
{% block footer %}
    {{ super() }}
{% endblock %}
