{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<body>

<div class="banner-container p-4 m-2 bg-red rounded-lg">
    <h1 class="text-bold text-5xl text-teak hover:text-red-100"><a class="hover:scale-110" href="https://spacefam.vip/public/space_radio">Space Radio</a></h1>
    <p class="text-green">A php azuracast program that I deployed for a community that I am a part of. It has playlists of great songs for the group and allows DJ's to produce a live stream easily</p>
</div>

<div class="banner-container p-4 m-2 bg-red rounded-lg">
    <h1 class="text-bold text-5xl text-teak hover:text-red-100"><a class="hover:scale-110" href="https://codepen.io/MattBusscher-the-flexboxer/pen/LYXBOda">Scrolling Menu</a></h1>
    <p class="text-green">A website menu that I built to learn more about CSS effects, animation, and data tags</p>
</div>

<div class="banner-container p-4 m-2 bg-red rounded-lg">
    <h1 class="text-bold text-5xl text-teak hover:text-red-100"><a class="hover:scale-110" href="https://codepen.io/MatthewBusscher/pen/gOQjXyM">Static Motion Card</a></h1>
    <p class="text-green">A website card that was built for a clients shop products. The hovered card has an effect to briefly look like television static.</p>
</div>

</body>
{% endblock %}
{% block footer %}
    {{ super() }}
{% endblock %}