{% extends 'base.html' %}
{% block title %}Projects{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<div class="lg:container mx-auto py-8 p-8">

    <div class="banner-container p-6 m-4 bg-grey rounded-lg hover:bg-blue duration-500">
        <h3 class="font-semibold text-red mb-4"><a class="hover:underline hover:text-grey text-3xl" rel="noopener noreferrer" target="_blank" href="https://gastrosubs.com">Gastro Subs</a></h3>
        <p class="text-purp">Create and manage a local sub shop's online presence while working on creating a food ordering within the online menu.</p>
    </div>
    
    <div class="banner-container p-6 m-4 bg-grey rounded-lg hover:bg-blue duration-500">
        <h3 class="font-semibold text-red mb-4"><a class="hover:underline hover:text-grey text-3xl" rel="noopener noreferrer" target="_blank" href="https://github.com/MattBusscher/fire-links-svelte">Svelte Link Fire</a></h3>
        <p class="text-purp">A svelte app that shows links, similar to linktree. Allows users to login using google, create a profile with custom links.</p>
    </div>

    <div class="banner-container p-6 m-4 bg-grey rounded-lg hover:bg-blue duration-500">
        <h3 class="font-semibold text-red mb-4"><a class="hover:underline hover:text-grey text-3xl" rel="noopener noreferrer" target="_blank" href="https://spacefam.vip/public/space_radio">Space Radio</a></h3>
        <p class="text-purp">A php azuracast program that I deployed for a community that I am a part of. It has playlists of great songs for the group and allows DJ's to produce a live stream easily.</p>
    </div>

    <div class="banner-container p-6 m-4 bg-grey rounded-lg hover:bg-blue duration-500 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]">
        <h3 class="font-semibold text-red mb-4"><a class="hover:underline hover:text-grey text-3xl" rel="noopener noreferrer" target="_blank" href="/projects">Firetexter CRM</a></h3>
        <p class="text-purp">Created a NextJS internal CRM for client. This CRM maintained the vendor database and contact information. Also allowed the user to text message or email one or more vendors to inquire about scheduling. Also had logs of the communication to assure that it is compliant with GDPR, CCPA, and FCC guidelines.</p>
    </div>

    <div class="banner-container p-6 m-4 bg-grey rounded-lg hover:bg-blue duration-500 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]">
        <h3 class="font-semibold text-red mb-4"><a class="hover:underline hover:text-grey text-3xl" rel="noopener noreferrer" target="_blank" href="https://ethereum.org/en/">Ethereum Crypto Mine</a></h3>
        <p class="text-purp">Created a financial and business plan to verify profit assumptions. Purchased and assembled computer components. Mined Ethereum for about a year before they moved to POS.</p>
    </div>
    
    <div class="banner-container p-6 m-4 bg-grey rounded-lg hover:bg-blue duration-500 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]">
        <h3 class="font-semibold text-red mb-4"><a class="hover:underline hover:text-grey text-3xl" rel="noopener noreferrer" target="_blank" href="https://github.com/MattBusscher/MERNStack">MERN Stack for Website</a></h3>
        <p class="text-purp">MERN stack template for a website. This is a template that includes most of the libraries and packages for developing, testing and deploying a blog type website. This template is a good starting place for client websites</p>
    </div>
    
    <div class="banner-container p-6 m-4 bg-grey rounded-lg hover:bg-blue duration-500 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]">
        <h3 class="font-semibold text-red mb-4"><a class="hover:underline hover:text-grey text-3xl" rel="noopener noreferrer" target="_blank" href="https://github.com/MattBusscher/MernEcom">MERN Stack for E-Commerce</a></h3>
        <p class="text-purp">MERN full stack template that can be used for a storefront. Very simple setup that is ready with NodeJs backend, MySQL database, Tailwind CSS. This template creates an easy starting point for an E-commerce store.</p>
    </div>
    
    <div class="banner-container p-6 m-4 bg-grey rounded-lg hover:bg-blue duration-500 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]">
        <h3 class="font-semibold text-red mb-4"><a class="hover:underline hover:text-grey text-3xl" rel="noopener noreferrer" target="_blank" href="https://github.com/MattBusscher/FireSvelte/tree/master/svelte-firebase">Svelte Site</a></h3>
        <p class="text-purp">Website created with Svelte kit, using Google FireStore as a database. Uses Tailwind CSS for styles. This was used to learn the many aspects that makes Svelte different from other web frameworks. </p>
    </div>
    
    <div class="banner-container p-6 m-4 bg-grey rounded-lg hover:bg-blue duration-500 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]">
        <h3 class="font-semibold text-red mb-4"><a class="hover:underline hover:text-grey text-3xl" rel="noopener noreferrer" target="_blank" href="https://codepen.io/MattBusscher-the-flexboxer/pen/LYXBOda">Scrolling Menu</a></h3>
        <p class="text-purp">A website menu that I built for a client. I learned more about CSS effects, animation, and data tags upon completing this component.</p>
    </div>
    
    <div class="banner-container p-6 m-4 bg-grey rounded-lg hover:bg-blue duration-500 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]">
        <h3 class="font-semibold text-red mb-4"><a class="hover:underline hover:text-grey text-3xl" rel="noopener noreferrer" target="_blank" href="https://codepen.io/MatthewBusscher/pen/gOQjXyM">Static Motion Card</a></h3>
        <p class="text-purp">A website card that was built for a clients shop products. The hovered card has an effect to briefly look like television static.</p>
    </div>
    
</div>
{% endblock %}
{% block footer %}
{{ super() }}
{% endblock %}
