{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto py-8 p-4">
    <h1 class="text-3xl font-bold mb-8">Matthew Busscher</h1>

    <div class="mb-8">
      <h2 class="text-2xl font-bold mb-4 text-red">Education</h2>
      <ul>
        <li class="mb-4">
          <h3 class="text-lg font-semibold">Florida Gulf Coast University</h3>
          <p class="text-sm text-maroon">Bachelor's in Marketing and Minor in Advertising</p>
          <p class="mt-2 bg-grey text-teak rounded-lg px-4 py-2">Association to Advance Collegiate Schools of Business Accredited. Member of the Future Business Leaders of America. Involved in intermural sports and school/community events</p>
        </li>
      </ul>
    </div>

    <div class="mb-8">
      <h2 class="text-2xl font-bold mb-4 text-red">Experience</h2>
      <ul>
        <li class="mb-4">
          <h3 class="text-lg font-semibold">Beverly Boy Productions</h3>
          <p class="text-sm text-maroon">Webmaster, July 2022 - July 2023</p>
          <p class="mt-2 bg-grey text-teak rounded-lg px-4 py-2">Led development of the WordPress site. Designed and added forms and components as requested while optimizing the site for the best user experience. 
          <br/> -Built and deployed a marketing app using NextJs for internal use. Included Twilio and SendGrid to create a point of contact between company and vendors. Then added OpenAI to help the user write better messages to our vendors. 
          <br/> -Scraped email addresses from our contact forms to start re-marketing to potential clients. Used regular expressions to pull the names and email addresses from the contact forms, then supplied the list and uploaded it in the appropriate format to our CRM.
            </p>
        </li>
        <li class="mb-4">
          <h3 class="text-lg font-semibold">Ocean Republic Brewing</h3>
          <p class="text-sm text-maroon">Assistant Manager, May 2021 - April 2022</p>
          <p class="mt-2 bg-grey text-teak rounded-lg px-4 py-2">Experience With Toast POS and Microsoft excel for tracking and reporting. Knowledgeable about beers and cocktails and able to effectively communicate to the bartenders and servers on how to up-sell. Inventory and labor management. Dealt with scheduling, server payouts, and handled all money, accounts receivable, and accounts payable.</p>
        </li>
      </ul>
    </div>

    <div class="mb-8">
      <h2 class="text-2xl font-bold mb-4 text-red">Skills</h2>
      <ul class="flex flex-wrap">
        <li class="bg-slate-600 text-teak rounded-full px-4 py-2 mr-2 mb-2">Javascript</li>
        <li class="bg-slate-600 text-teak rounded-full px-4 py-2 mr-2 mb-2">Python</li>
        <li class="bg-slate-600 text-teak rounded-full px-4 py-2 mr-2 mb-2">PHP</li>
        <li class="bg-slate-600 text-teak rounded-full px-4 py-2 mr-2 mb-2">Google Firestore</li>
        <li class="bg-slate-600 text-teak rounded-full px-4 py-2 mr-2 mb-2">AWS</li>
        <li class="bg-slate-600 text-teak rounded-full px-4 py-2 mr-2 mb-2">Linode</li>
        <li class="bg-slate-600 text-teak rounded-full px-4 py-2 mr-2 mb-2">React</li>
        <li class="bg-slate-600 text-teak rounded-full px-4 py-2 mr-2 mb-2">NextJS</li>
        <li class="bg-slate-600 text-teak rounded-full px-4 py-2 mr-2 mb-2">Vite</li>
        <li class="bg-slate-600 text-teak rounded-full px-4 py-2 mr-2 mb-2">Docker</li>
        <li class="bg-slate-600 text-teak rounded-full px-4 py-2 mr-2 mb-2">NodeJs</li>
        <li class="bg-slate-600 text-teak rounded-full px-4 py-2 mr-2 mb-2">HTML & CSS</li>
        <li class="bg-slate-600 text-teak rounded-full px-4 py-2 mr-2 mb-2">Tailwind CSS</li>
        <li class="bg-slate-600 text-teak rounded-full px-4 py-2 mr-2 mb-2">Git / Github</li>
      </ul>
    </div>
  </div>
{% endblock %}