{% extends 'base.html' %}
{% block title %}Resume{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<div class="mx-auto py-8 p-4 lg:container">
    <h1 class="text-3xl font-bold mb-8 hover:scale-125 hover:text-red">Matthew Busscher</h1>

    <div class="mb-8">
      <h2 class="text-2xl font-bold mb-4 text-red hover:scale-110">Skills</h2>
      <ul class="flex flex-wrap justify-center mx-24">
        <li class="bg-slate-600 text-teak rounded-full px-4 py-2 mr-2 mb-2">Javascript</li>
        <li class="bg-slate-600 text-teak rounded-full px-4 py-2 mr-2 mb-2">Power BI</li>
        <li class="bg-slate-600 text-teak rounded-full px-4 py-2 mr-2 mb-2">AI / LLM</li>
        <li class="bg-slate-600 text-teak rounded-full px-4 py-2 mr-2 mb-2">Python</li>
        <li class="bg-slate-600 text-teak rounded-full px-4 py-2 mr-2 mb-2">Flask</li>
        <li class="bg-slate-600 text-teak rounded-full px-4 py-2 mr-2 mb-2">PHP</li>
        <li class="bg-slate-600 text-teak rounded-full px-4 py-2 mr-2 mb-2">Microsoft Office</li>
        <li class="bg-slate-600 text-teak rounded-full px-4 py-2 mr-2 mb-2">Google Firestore</li>
        <li class="bg-slate-600 text-teak rounded-full px-4 py-2 mr-2 mb-2">Cloud</li>
        <li class="bg-slate-600 text-teak rounded-full px-4 py-2 mr-2 mb-2">Linux/Unix</li>
        <li class="bg-slate-600 text-teak rounded-full px-4 py-2 mr-2 mb-2">AWS</li>
        <li class="bg-slate-600 text-teak rounded-full px-4 py-2 mr-2 mb-2">Linode</li>
        <li class="bg-slate-600 text-teak rounded-full px-4 py-2 mr-2 mb-2">React</li>
        <li class="bg-slate-600 text-teak rounded-full px-4 py-2 mr-2 mb-2">NextJS</li>
        <li class="bg-slate-600 text-teak rounded-full px-4 py-2 mr-2 mb-2">Vite</li>
        <li class="bg-slate-600 text-teak rounded-full px-4 py-2 mr-2 mb-2">Docker</li>
        <li class="bg-slate-600 text-teak rounded-full px-4 py-2 mr-2 mb-2">NodeJs</li>
        <li class="bg-slate-600 text-teak rounded-full px-4 py-2 mr-2 mb-2">HTML & CSS</li>
        <li class="bg-slate-600 text-teak rounded-full px-4 py-2 mr-2 mb-2">Tailwind CSS</li>
        <li class="bg-slate-600 text-teak rounded-full px-4 py-2 mr-2 mb-2">Git / Github</li>
      </ul>
    </div>



    <div class="mb-8">
      <h2 class="text-2xl font-bold mb-4 text-red hover:scale-110">Experience</h2>
      <ul>
        <li class="mb-4">
          <h3 class="text-lg font-semibold">Turbodebt</h3>
          <h5 class="text-sm text-maroon mb-4">Financial Consultant, Jan 2024 - Present</h5>
          <p class="mt-2 bg-grey text-teak rounded-lg px-4 py-2">Provided financial consulting services to individuals and businesses. Specialized in debt management and financial solutions by creating reports and personalized plans for clients.</p>
        </li>
            </p>
        </li>
        <li class="mb-4">
          <h3 class="text-lg font-semibold">Beverly Boy Productions</h3>
          <h5 class="text-sm text-maroon mb-4">Webmaster, July 2022 - July 2023</h5>
          <p class="mt-2 bg-grey text-teak rounded-lg px-4 py-2">Led improvements of the WordPress site. Designed and added forms and components as requested while optimizing the site for the best user experience. 
          <br/> -Built and deployed a marketing app using NextJs for internal use. Included Twilio and SendGrid to create a point of contact between company and vendors. Then added OpenAI to help the user write better messages to our vendors. 
          <br/> -Scraped email addresses from our contact forms to start re-marketing to potential clients. Used regular expressions to pull the names and email addresses from the contact forms, then supplied the list and uploaded it in the appropriate format to our CRM.
            </p>
        </li>
        <li class="mb-4">
          <h3 class="text-lg font-semibold">Ocean Republic Brewing</h3>
          <h5 class="text-sm text-maroon mb-4">Assistant Manager, May 2021 - April 2022</h5>
          <p class="mt-2 bg-grey text-teak rounded-lg px-4 py-2">Experience With Toast POS and Microsoft excel for tracking and reporting. Knowledgeable about beers and cocktails and able to effectively communicate to the bartenders and servers on how to up-sell. Inventory and labor management. Dealt with scheduling, server payouts, and handled all money, accounts receivable, and accounts payable.</p>
        </li>
        <li class="mb-4">
          <h3 class="text-lg font-semibold">Capitol Creek Brewery</h3>
          <h5 class="text-sm text-maroon mb-4">Lead Server, May 2019 - October 2020</h5>
          <p class="mt-2 bg-grey text-teak rounded-lg px-4 py-2">Managed sourcing and inventory for behind bar goods
            Weekly employee scheduling and new hire training. Championed customer service as a key value everyday.</p>
        </li>
        <li class="mb-4">
          <h3 class="text-lg font-semibold">Aspen-Snowmass Ski Co</h3>
          <h5 class="text-sm text-maroon mb-4">Frontend Sales Associate, Nov 2018 - May 2019</h5>
          <p class="mt-2 bg-grey text-teak rounded-lg px-4 py-2">Educated guest on products, services, local travel areas and points of interest. Handled ski pass transactions and authorizations as well as issues or concerns along the process. Often handling a ticketing office singlehandedly while monitoring the lift lines.</p>
        </li>
        <li class="mb-4">
          <h3 class="text-lg font-semibold">Inner-Voice Investments</h3>
          <h5 class="text-sm text-maroon mb-4">Supervisor, Nov 2006 - Aug 2012</h5>
          <p class="mt-2 bg-grey text-teak rounded-lg px-4 py-2">Supervised employees on the job, while maintaining deadlines and budget constraints. Dealt with delays and adversity daily while still meeting standards and timelines.</p>
        </li>
      </ul>
    </div>

    <div class="mb-8">
      <h2 class="text-2xl font-bold mb-4 text-red hover:scale-110">Education</h2>
      <ul>
        <li class="mb-4">
          <h3 class="text-lg font-semibold">Florida Gulf Coast University</h3>
          <h5 class="text-sm text-maroon mb-4">Bachelor's in Marketing and Minor in Advertising</h5>
          <p class="mt-2 bg-grey text-teak rounded-lg px-4 py-2">Association to Advance Collegiate Schools of Business Accredited. Member of the Future Business Leaders of America. Involved in intramural sports and school/community events</p>
        </li>
      </ul>
    </div>


  </div>
{% endblock %}