{% extends 'base.html' %}
{% block title %}Resume{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<div class="flex justify-center">
    <div class="flex justify-center">
        <iframe src="https://onedrive.live.com/embed?resid=BE732E35C9EA5431%2145962&amp;authkey=!AJpGW1c_NmxqKC8&amp;em=2&amp;wdEmbedCode=0" width="1200px" height="950px" frameborder="0">This is an embedded <a target="_blank" href="https://office.com">Microsoft Office</a> document, powered by <a target="_blank" href="https://office.com/webapps">Office</a>.</iframe>    </div>

    </div>
{% endblock %}
